:root {
  --background: #f3f4f6;
  --primary-50: #5617dd;
  --gray-50: #1f2231;
  --gray-400: #0c0f1c;
  --gray-500: #0b0e1c;
}

.source:after {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: var(--background);
  display: block;
  margin-left: 15px;
}

input[type='checkbox']:checked+.source {
  background-color: var(--gray-500);
}

input[type='checkbox']:checked+.source::after {
  background-color: var(--primary-50);
}

.background--custom {
  background: linear-gradient(90deg, #121421, #130435, #262626);
  background-size: 300% 300%;
  animation: gradient 4s alternate infinite;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}