---
import { prisma } from '../common';
import _ from 'lodash';
import '../styles/index.scss';
import Layout from '../layouts/Layout.astro';
import NoticeItem from '../components/NoticeItem.astro';
import Header from '../components/Header.astro';

const { truncate } = _;

const limit = 5;
const page = parseInt(Astro.url.searchParams.get('page') || '1');
const sourcesQuery = Astro.url.searchParams.getAll('sources[]');

const filterCondition = {
  where: {
    source:
      sourcesQuery.length > 0
        ? {
            name: {
              in: sourcesQuery,
            },
          }
        : {
            name: {
              not: 'Reddit',
            },
          },
  },
};

const currentPageIndex = page ? (page - 1) * limit : 0;
const noticesCount = await prisma.notice.count(filterCondition);
const notices = await prisma.notice.findMany({
  orderBy: [
    {
      publishedDate: 'desc',
    },
    {
      title: 'desc',
    },
  ],
  ...filterCondition,
  include: {
    source: true,
  },
  take: limit,
  skip: currentPageIndex,
});

const sources = await prisma.source.findMany({
  where: {
    name: {
      not: 'Reddit',
    },
  },
});
---

<Layout title="WorkFindy | Remote Work Job List">
  <Header />
  <section class="w-screen relative background--custom">
    {/* Illustration behind hero content */}
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
      {/* Hero content */}
      <div class="pt-32 pb-12 md:pt-40 md:pb-20">
        {/* Section header */}
        <div class="text-center pb-12 md:pb-16">
          <h1 class="text-5xl md:text-6xl font-extrabold leading-tighter tracking-tighter mb-4" data-aos="zoom-y-out">
            Get the latest remote jobs from across the board
          </h1>
          <div class="max-w-3xl mx-auto">
            <div class="max-w-xs mx-auto sm:max-w-none sm:flex sm:justify-center">
              <a href="/jobs">
                <div
                  class="flex flex-row p-4 border border-neutral-100 space-x-2 rounded-xl bg-primary-200 justify-center items-center hover:bg-primary-50 hover:border-neutral-300 transition"
                >
                  <span class="font-bold block">Find your dream job</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full overflow-y-auto relative space-y-2">
        <div class="p-4 space-y-2">
          {
            notices.map((notice, i) => {
              return <NoticeItem notice={notice} idx={i} />;
            })
          }
          <div
            class={`flex flex-col p-4 rounded-xl bg-gray-200 shadow-sm hover:border-primary-200 hover:bg-gray-100 transition border border-neutral-900 space-y-1 md:p-4`}
          >
            <a href={`/jobs`} class="content flex gap-4 flex-col items-center">
              <p class="font-bold">See More</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
