---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { PrismaClient } from '@prisma/client';

const prisma = new PrismaClient();

const notices = await prisma.notice.findMany({
	orderBy: {
		createdAt: 'desc',
	},
	take: 3,
});
---

<Layout title="Welcome to Astro.">
    <section class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div>
        <h1 class="text-4xl font-bold mb-4">Welcome to Our Website!</h1>
        <p class="mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
				</p>
        <a href="#" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-500">Get Started</a>
      </div>
    </section>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
		{notices.map((notice) => {
			return (
				<li>
					<Card
						title={notice.title}
						body={notice.body}
						href={`/notices/${notice.id}`}
					/>
				</li>)
		})}
</Layout>
