---
import Layout from '../layouts/Layout.astro';
import { PrismaClient } from '@prisma/client';
import { truncate } from 'lodash';

const prisma = new PrismaClient();

const notices = await prisma.notice.findMany({
  orderBy: {
    createdAt: 'desc',
  },
  include: {
    source: true,
  },
  take: 5,
});
---

<Layout title="Welcome to Astro.">
  <section>
    <h1 class="text-6xl font-bold">Newest Listings</h1>
    <div class="flex flex-col w-full border-neutral-800 border rounded-xl mt-10 min-w-[320px] overflow-x-auto">
      <div class="flex text-sm font-semibold bg-gray-100 rounded-t-xl p-4">
        <div class="flex-1 p-2 font-bold">Title</div>
        <div class="flex-1 p-2 font-bold">Description</div>
        <div class="flex-1 p-2 font-bold">From</div>
        <div class="flex-1 p-2 font-bold">Apply</div>
      </div>
      <span class="overflow-y-auto h-[60vh]">
        {
          notices.map((notice, i) => {
            const bg = i % 2 === 0 ? 'bg-gray-200' : 'bg-gray-300';
            return (
              <div class={`flex border-t border-t-neutral-950 p-4 rounded-b-xl ${bg}`}>
                <div class="flex-1 p-2 font-bold">{notice.title}</div>
                <div class="flex-1 p-2 font-li">{truncate(notice.body, { length: 75 })}</div>
                <div class="flex-1 p-2 font-li">{notice.source.name}</div>
                <div class="flex-1 p-2 font-li">
                  <a href={notice.url}>Apply</a>
                </div>
              </div>
            );
          })
        }
      </span>
    </div>
  </section>
</Layout>
