<header class="bg-neutral-950 shadow-md">
  <div class="container mx-auto px-4 py-2 flex space-x-8 items-center h-[10%]">
    <a href="/" class="w-20 py-2 text-primary-200 flex items-center justify-center">
      <img src="./logo.svg" alt="Logo" />
    </a>
    <nav>
      <ul class="flex gap-8 font-bold text-lg">
        <li><a href="/jobs" class="hover:text-neutral-500">Jobs</a></li>
        <li><a href="/about" class="hover:text-neutral-500">About</a></li>
      </ul>
    </nav>
  </div>
</header>
