---
import Header from '../components/Header.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-500 text-neutral-200">
    <Header />
    <main class="container mx-auto sm:px-4 sm:py-8 p-1 text-sm sm:text-base">
      <slot />
    </main>
  </body>
</html>
